<!doctype html>
<html lang="en">

    <head>
        <title>Bangu'a</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
            integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
    </head>


    <body>
        <div id="app" class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron jumbotron-fluid bg-white">
                        <div class="container">
                            <h1 class="display-3">
                                <img src="pics/flag.png" height="70"> {{ page.title }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- ======================================================================= -->
                <!-- Container guauche -->
                <!-- ======================================================================= -->
                <div class="col-4" id="left-container">
                    <div class="col" id="reference-translations-container">
                        <!-- ======================================================================= -->
                        <!-- Liste des traductions locales -->
                        <!-- ======================================================================= -->
                        <div class="card m-2" v-if="displayDictionaryTranslations">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" :class="{'list-group-item-primary':0===index}" v-for="(valsi, index) in dictionaryTranslations">
                                    <p>
                                        <span class="badge badge-pill badge-primary mr-2" v-text="valsi.valsi"></span>
                                        <span class="badge badge-pill badge-warning mr-2" v-for="rafsi in getRafsiListFrom(valsi)"
                                            v-text="rafsi"></span>
                                        <span class="badge badge-pill badge-secondary mr-2" v-for="el in valsi.elements"
                                            v-text="el"></span>
                                        <span class="badge badge-pill badge-dark mr-2" v-text="valsi.class"></span>
                                        <span class="badge badge-pill badge-info mr-2" v-text="valsi.shortTranslation"></span>
                                        <span :class="{small:0!==index,'font-weight-bold':0===index}"> {{valsi.translation}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ======================================================================= -->
                <!-- Container droit -->
                <!-- ======================================================================= -->
                <div class="col-8" id="right-container">
                    <div class="row">
                        <div class="col" id="reference-container">
                            <div class="card m-2 bg-light">
                                <!-- ======================================================================= -->
                                <!-- Définission de la session -->
                                <!-- ======================================================================= -->
                                <div class="card-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="reference" id="reference" aria-describedby="reference.helpIdP"
                                            :placeholder="reference.placeholder" v-model="reference.value"
                                            @keyup.enter="memorize()" @keyup.up="stepBackward()"
                                            @keyup.down="stepForward()">
                                    </div>
                                </div>
                                <div class="card-body" v-html="boxes" v-if="boxes">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ======================================================================= -->
                    <!-- Résultat de la commande -->
                    <!-- ======================================================================= -->
                    <div class="row" id="command-result-container" v-show="displayRightContainer">
                        <div class="col">
                            <div class="card m-2">
                                <!-- ======================================================================= -->
                                <!-- Affichage de l'aide -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="help">
                                    <div class="alert alert-info" role="alert">
                                        <div class="alert alert-primary mb-4" role="alert">
                                            <strong>
                                                <i class="fa fa-info-circle    "></i> Usage </strong>
                                            Use the input above to type your text and get some translations/previews. You can
                                            mix it with some commands (see below)

                                            <p class="bg-info p-2 rounded text-center"> @see
                                                <a href="pics/bangu'a.sample.gif" class="alert-link">
                                                    demonstration</a> to overview
                                                available actions
                                            </p>
                                        </div>
                                        <div class="list-group">
                                            <strong>@see
                                                <a href="https://github.com/sozysozbot/sozysozbot_jvozba/tree/master/docs" class="alert-link">
                                                    sozysozbot</a> for lujvo work
                                            </strong>

                                            <strong> @see
                                                <a href="https://github.com/lojban/ilmentufa/tree/master/glosser" class="alert-link">
                                                    glosser</a> for boxes
                                            </strong>

                                        </div>
                                    </div>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>action</th>
                                                <th>description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="msg in help">
                                                <td scope="row "></td>
                                                <td v-html="msg.action"></td>
                                                <td v-html="msg.description"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <!-- ======================================================================= -->
                                <!-- Affichage de l editeur -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-show="displayEditor">
                                    <div id="editor">
                                    </div>
                                </div>

                                <!-- ======================================================================= -->
                                <!-- Décomposition de lujvo -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayJvokaha">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>rafsi</th>
                                                <th>valsi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="valsi in jvokahaste">
                                                <td scope="row "></td>
                                                <td v-text="valsi.rafsi"></td>
                                                <td v-text="valsi.valsi"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- ======================================================================= -->
                                <!-- Création de lujvo -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayJvozba">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>lujvo</th>
                                                <th>score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="valsi in jvoste">
                                                <td scope="row "></td>
                                                <td v-text="valsi.lujvo"></td>
                                                <td v-text="valsi.score"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- ======================================================================= -->
                                <!-- Affichage de video youtube -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayYoutube">
                                    <iframe width="560" height="315" :src="youtube" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen></iframe>
                                </div>
                                <!-- ======================================================================= -->
                                <!-- Affichage des traductions de vlasisku -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayVlasisku">
                                    <strong class="bg-warning rounded p-2">This panel is an iframe. To get to the source,
                                        @see
                                        <a href="http://vlasisku.lojban.org/" class="alert-link">
                                            vlasisku</a>
                                    </strong>
                                    <iframe id=" inlineFrameExample " width="100%" height="500px" :src="vlasisku">
                                    </iframe>
                                </div>

                                <!-- ======================================================================= -->
                                <!-- Affichage du complete lojban language -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayCll">
                                    <strong class="bg-warning rounded p-2">This panel is an iframe. To get to the source,
                                        @see
                                        <a href="https://lojban.github.io/cll/" class="alert-link">
                                            The Complete Lojban Language </a> by
                                        John Woldemar Cowan
                                    </strong>
                                    <iframe width="100%" height="500px" :src="cll">
                                    </iframe>
                                </div>

                                <!-- ======================================================================= -->
                                <!-- Affiche un site à la demande de l'utilisateur -->
                                <!-- ======================================================================= -->
                                <div class="card-body" v-if="displayOpen">
                                    <strong class="bg-warning rounded p-2">This panel is an iframe.
                                    </strong>
                                    <iframe id=" inlineFrameExample " width="100%" height="500px" :src="open">
                                    </iframe>
                                </div>


                                <!-- ======================================================================= -->
                                <!-- Affichage des translations memories -->
                                <!-- ======================================================================= -->
                                <div class="card-body " v-if="displayTranslations ">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <!-- ======================================================================= -->
                                                <!-- TODO: Rendre dynamique la traduction -->
                                                <!-- ======================================================================= -->
                                                <th></th>
                                                <th>Texte source</th>
                                                <th>Texte cible</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="traduction in data.translationMemory.examples ">
                                                <td scope="row "></td>
                                                <td v-text="traduction.first "></td>
                                                <td v-text="traduction.second "></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- ======================================================================= -->
        <!-- Vendor -->
        <!-- ======================================================================= -->
        <script src=" https://code.jquery.com/jquery-3.3.1.min.js
                                    " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
            crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js "
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em "
            crossorigin="anonymous "></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'
        />



        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script>
            var quill = new Quill('#editor', {
                theme: 'snow'
            });

        </script>

        <!-- ======================================================================= -->
        <!-- Dependencies -->
        <!-- ======================================================================= -->

        <!-- Lojban parser -->
        <script src="ext/camxes.js "></script>

        <!-- Boxes -->
        <link rel="stylesheet " href="css/box.css ">
        <script src="ext/gismudata.js "></script>
        <script src="ext/interface.js "></script>
        <script src="ext/tree.js "></script>

        <!-- Lujvo -->
        <script src="ext/rafsi_list.js "></script>
        <script src="ext/scoring.js "></script>
        <script src="ext/tools.js "></script>
        <script src="ext/jvokaha.js "></script>
        <script src="ext/jvozba.js "></script>


        <!-- ======================================================================= -->
        <!-- Données stockées localement -->
        <!-- ======================================================================= -->
        <script>
            // Objet de référence qui contient les données
            let data = {}

        </script>
        <script src="data/cmavo.js "></script>
        <script src="data/gismu.js "></script>
        <script src="data/lujvo.js "></script>

        <!-- ======================================================================= -->
        <!-- Service de récupération des données -->
        <!-- ======================================================================= -->
        <script src="glosbe/glosbe.service.configuration.js "></script>
        <script src="glosbe/glosbe.service.tool.url.js "></script>
        <script src="glosbe/glosbe.service.tool.option.js "></script>
        <script src="glosbe/glosbe.service.js "></script>

        <!-- ======================================================================= -->
        <!-- Gestion de l'interface -->
        <!-- ======================================================================= -->
        <script src="vue.instance.configuration.js "></script>
        <script src="vue.instance.js "></script>
    </body>

</html>
